h2{
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
}

body{
    border: 2px solid black;
    margin-left: 10%;
    margin-right: 10%;
    
}

table{
    margin-left: 10px;

}
.exp{
    background-color: lightcyan;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
}
.img-me{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-left: 200px;
    margin-top: 60px;
}
.educ{
    background-color: lightcyan;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
}
.edit1{
    text-align: right;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.func{
    background-color: lightcyan;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}
.cert{
    background-color: lightcyan;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}
.wrapper{
    display: flex;
    background-color: lightcyan;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;

}
